body{
  margin: 0;
  background-color: #829C79;
}

.reseaux{
  z-index: 10;
  width: 2%;
  height: 130px;
  position: fixed;
  top: 50%;
  left: 10px;
  background-color: white;
  margin: auto;
  text-align: center;
  line-height: 32.5px;
  box-shadow: 0px 2px 10px black;
  border-radius: 10px;
}

.fa-arrow-circle-up{
  text-decoration: none;
  color: black;
  display: block;
}

.fa-arrow-circle-up:hover{
  color: #829C79;
}

.fa-twitter{
  display: block;
}

.fa-twitter:hover{
  color:#00acee;
}


.fa-instagram{
display: block;
width: 100%;
}

.fa-instagram:hover{
  color: #cd486b;
}

.fa-linkedin-in{
  display: block;
}

.fa-linkedin-in:hover{
  color:#0e76a8;
}



.bande_verte{
  height: 250px;
  background-color: #43684c;
  height: 250px;
  padding-top: 8px;
}

.boite_ronde{
  position: relative;
  z-index: 10;
  background-color: black;
  height:200px;
  width: 200px;
  border-radius: 100px;
  margin: auto;
  background-image: url(images/DSC05727.JPG);
  background-size: cover;
  box-shadow: 4px 0px 10px black;
}

.bande_noire{
position: absolute;
top: 108px;
background-color: #182125;
width: 100%;
height: 150px;
}

nav{
  background-color: #43684c;
  height: 50px;
  width: 100%;
  padding: 0;
}

ol{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin:auto;
}

li{
  display: inline-block;
}

.texte_barre_de_navigation{
  text-decoration: none;
  color: white;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
  font-family: 'franklin gothic book', sans-serif;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 2px;
}


.texte_barre_de_navigation:hover {
  color: white;
  background-color: #182125;
}

.texte_barre_de_navigation_lucas{
  font-family: 'bebas neue', sans-serif;
  text-decoration: none;
  color: black;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 2px;
}

.LucasDabout{
  padding: 0;
  margin-bottom: 0px;
  margin-top: 70px;
  margin-right: 0;
  margin-left: 0px;
  font-size: 60px;
  font-family: 'bebas neue', sans-serif;
  text-align: center;
}

.Etudiant{
  margin: 0px;
  padding: 0;
  text-align: center;
  font-size: 60px;
  font-family: 'allura', sans-serif;
}

.box_apropos{
  height: auto;
  width: 100%;
  background-color: white;
  margin: 0px;
  padding-top:100px;
  padding-bottom:100px;
}

.box_apropos__texte{
  font-family: 'Lato', sans-serif;
  margin-top:0px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
  text-indent: 20px;
}

.box_compétences{
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  width: 100%;
  background-color:#43684c ;
  height : auto;
  text-align: center;
}

.hovervoir:hover{
  opacity:1;
}


.progress_bar_html{
  display: inline-block;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  background-color: white;
}

.pourcent_html{
  border-radius: 5px 0px 0px 5px;
  height:40px;
  width:85%;
  background-color: #182125;
}

.progress_bar_php{
  border-radius: 5px;
  display: inline-block;
  margin-left: 50px;
  height: 40px;
  width: 250px;
  background-color: white;
}

.pourcent_php{
  border-radius: 5px 0px 0px 5px;
  height:40px;
  width:15%;
  background-color: #182125;
}

.progress_bar_oral{
  border-radius: 5px;
  display: inline-block;
  margin-left: 50px;
  height: 40px;
  width: 250px;
  background-color: white;
  opacity:1;
}

.pourcent_oral{
  border-radius: 5px 0px 0px 5px;
  height:40px;
  width:55%;
  background-color: #182125;
}

.box_expérience{
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  width: 100%;
  background-color: white ;
  height : auto;
  text-align:center;
}

.hovervoir{
  opacity: 0;
  background-color: none;
  display: block;
  margin: 0;
  width: 250px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  font-family: 'lato', sans-serif;
  font-weight: bold;
}

.hovervoir:hover{
  opacity: 1;
}

.pourcent_texte{
  font-family: 'lato', sans-serif;
}

.téléchargement_texte{
  display: block;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 50px;
  font-family: 'Lato', sans-serif;
}

.téléchargement_texte:hover{
  color: #182125;
}

.téléchargement{
background-color: #182125;
width: 30%;
height: 50px;
margin: auto;
text-align: center;
}

.téléchargement:hover{
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #182125;
}

.box_formation{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  width: 100%;
  background-color:#43684c ;
  height : auto;
  text-align:center;
}

.formation_gauche_texte{
  text-align: left;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}

.formation_droite_texte{
text-align: left;
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;
}

.box_contact{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  width: 100%;
  background-color: white;
  height : auto;
  text-align:center;
  background-color: white;
}

.box_contact_texte{
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}

.g-recaptcha{
  background-color: #182125;
  border-style: none;
  color: white;
  width: 310px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  font-family: 'lato', sans-serif;
}

.g-recaptcha:hover{
  background-color: white;
  color: #182125;
  border-style: solid;
  border-width: 2px;
  border-color: #182125;
}

#name{
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
}

#mail{
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
}

#msg{
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
}

input{
  text-align:center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 20px;
  display: block;
}

textarea{
  text-align:center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 300px;
  min-height: 60px;
  max-height: 100px;
  display: block;
}

.bouton{
  background-color: #182125;
  border-style: none;
  color :white;
  padding: 8px;
  box-shadow: 1px 0px 5px black;
  margin: 8px;
  width: 80px;
  letter-spacing: 2px;
  height: 30px;
}

.formation_gauche{
  display: inline-block;
  width: 25%;
  height: auto;
}

.formation_droite{
  display: inline-block;
  margin-left: 5px;
  width: 50%;
  height: auto;
}

.logosupavenir{
  display: inline-block;
  width: 100%;
}

.fa-angle-down{
  text-align: center;
  width: 100%;
  color: #182125;
}

.fa-angle-down:hover{
  font-size: 30px;
}


.fa-quote-left{
  margin-left: 5%;
  font-size : 40px;
  color : #182125;
}
.fa-quote-right{
  margin-left: 95%;
  font-size : 40px;
  color: #182125;
}

footer{
  line-height: 50px;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #182125;
  color:white;
  font-family: 'Lato', sans-serif;
}
.mentionsh1{
  font-family: 'lato', sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  color: #182125;
  margin-bottom: 30px;
}

.mentionsh2{
  font-family: 'lato', sans-serif;
  letter-spacing: 2px;
  color: #182125;
  font-size: 20px;
  margin-top: 30px;
}

.mentionsp{
  font-family: 'lato', sans-serif;
  color: #182125;
  font-size: 15px;
}

.liensmentionslegales{
  color:white;
}

.liensmentions{
  color: #182125;
}

.liensmentions:hover{
  color: #43684c;
}

.mentions{
  margin-left: 50px;
  margin-top: 50px;
}

.imgmentions{
  border-radius: 300px;
  width: 300px;
  display: block;
  margin-top:10%;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  right: 100px;
}

.textementions{
  margin-top: 10%;
}

.lucasdaboutmentions{
  font-size: 60px;
  font-family: 'bebas neue', sans-serif;
  text-align: center;
  margin: 0;
}

.etudiantmentions{
  margin: 0;
  text-align: center;
  font-size: 60px;
  font-family: 'allura', sans-serif;
}

.mentionsrond{
  position: absolute;
  z-index: 10;
  right: 30px;
  top: 30px;
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 500px;
}
